<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <p>© Copyright <%= new Date().getFullYear() %> <%= new Date() %></p>
    </footer>
  </body>
</html>
